In [108]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, f1_score, recall_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder, OrdinalEncoder

In [83]:
df = pd.read_csv("C:/Users/Sande/Desktop/Datasets/diabetes_prediction_dataset.csv")
df.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

In [84]:
df.isnull().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
smoking_history        0
bmi                    0
HbA1c_level            0
blood_glucose_level    0
diabetes               0
dtype: int64

In [85]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
age,100000.0,41.885856,22.516840,0.08,24.00,43.00,60.00,80.00
hypertension,100000.0,0.074850,0.263150,0.00,0.00,0.00,0.00,1.00
heart_disease,100000.0,0.039420,0.194593,0.00,0.00,0.00,0.00,1.00
bmi,100000.0,27.320767,6.636783,10.01,23.63,27.32,29.58,95.69
HbA1c_level,100000.0,5.527507,1.070672,3.50,4.80,5.80,6.20,9.00
blood_glucose_level,100000.0,138.058060,40.708136,80.00,100.00,140.00,159.00,300.00
diabetes,100000.0,0.085000,0.278883,0.00,0.00,0.00,0.00,1.00

In [86]:
df['smoking_history'].value_counts()

smoking_history
No Info        35816
never          35095
former          9352
current         9286
not current     6447
ever            4004
Name: count, dtype: int64

In [96]:
df['gender'].value_counts()

gender
0        58552
1        41430
Other       18
Name: count, dtype: int64

In [97]:
df['gender'] = df['gender'].replace({
    'Female': 0,
    'Male': 1,
    'Other': 2
})
df['gender'] = df['gender'].astype(int)

C:\Users\Sande\AppData\Local\Temp\ipykernel_8456\2326813397.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['gender'] = df['gender'].replace({

In [98]:
df['smoking_history'] = df['smoking_history'].replace({
    'No Info': 1,
    'never': 2,
    'former': 3,
    'not current': 3,
    'current': 4,
    'ever': 4
})
df['smoking_history'] = df['smoking_history'].astype(int)

In [99]:
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,0,80.0,0,1,2,25.19,6.6,140,0
1,0,54.0,0,0,1,27.32,6.6,80,0
2,1,28.0,0,0,2,27.32,5.7,158,0
3,0,36.0,0,0,4,23.45,5.0,155,0
4,1,76.0,1,1,4,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,0,80.0,0,0,1,27.32,6.2,90,0
99996,0,2.0,0,0,1,17.37,6.5,100,0
99997,1,66.0,0,0,3,27.83,5.7,155,0
99998,0,24.0,0,0,2,35.42,4.0,100,0
99999,0,57.0,0,0,4,22.43,6.6,90,0

In [100]:
train_data, test_data = train_test_split(df, test_size=0.2, random_state=42)

In [101]:
def standard_df(df):

    df = df.select_dtypes(include=['int64', 'float64'])
    scaler = StandardScaler()
    scaler_array = scaler.fit_transform(df)
    scaled_df = pd.DataFrame(scaler_array, columns = df.columns, index = df.index)
    return scaled_df

train_scaler_data = standard_df(train_data)   
test_scaler_data = standard_df(test_data)

In [105]:
X_train = train_data.iloc[:, 0:-1].values
y_train = train_data.iloc[:, -1].values

X_test = test_data.iloc[:,0:-1].values
y_test = test_data.iloc[:, -1].values

In [109]:
rfc = RandomForestClassifier()
rfc.fit(X_train, y_train)
pickle.dump(rfc, open("model.pkl", "wb"))

In [110]:
model = pickle.load(open('model.pkl', 'rb'))
y_pred = model.predict(X_test)
acc = accuracy_score(y_pred, y_test)
precision = precision_score(y_pred, y_test)
recall = recall_score(y_pred, y_test)
f1 = f1_score(y_pred, y_test)

print(acc)
print(precision)
print(recall)
print(f1)

0.97025
0.689695550351288
0.9477071600965407
0.7983734327346662